:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#left {
    width: 500px;
    height: 500px;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#middle {
    width: 500px;
    height: 500px;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#right {
    width: 500px;
    height: 500px;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#left-dropdown {
    justify-content: center;
}

#middle-dropdown {
    justify-content: center;
}

#right-dropdown {
    justify-content: center;
}

.left-section {
    justify-content: center;
}

.middle-section {
    justify-content: center;
}

.right-section {
    justify-content: center;
}

.upper-section {
    display: flex;
}

.images {
    display: flex;
}

#comment-input,
#comment-button {
    width: 100px;
    height: 20px;
}

.input-class {
    display: flex;
}
